.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: $off-gray;
}

.container-wrapper {
    width: 32rem;
    padding: 15px;
    background: #fff;
    display:flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba(0,0,0,.3);

}

.container-numbers {
    width:80%;
}

.container-operators {
    width: 20%;
}

.container-result {
    width: 90%;
    padding: $m-size;
    display: block;
    color: #fff;
    font-size: $l-size;
    height: 110px;
    position: relative;
    text-align: right;
    left: 0;
    right: 0;
    margin: auto;
    p {
        margin: 0;
        word-break: break-all;
    }
}

.container-equals {
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.divider {
    width: 90%;
    height:1px;
    position: relative;
    left:0;
    right: 0;
    margin: auto;
    background: rgba(255,255,255, .2);
}


//THEME
//blue
.theme--blue  {
    .container {
        background: $off-gray;
    }
    .container-wrapper {
        background: linear-gradient(140deg, $lblue 40%, $dblue);
    }
}
//pink
.theme--pink {
    .container {
        background: $off-gray;
    }
    .container-wrapper {
        background: linear-gradient(140deg, $lred 40%, $dred);
    }
}
//purple
.theme--purple {
    .container {
        background: $off-gray;
    }
    .container-wrapper {
        background: linear-gradient(140deg, $lpurple 40%, $dpurple);
    }
}
//black
.theme--dark {
    .container {
        background: $off-gray;
    }
    .container-wrapper {
        background: linear-gradient(140deg, $lblack 40%, $black);
    }
}

//yellow
.theme--yellow {
    .container {
        background: $off-gray;
    }
    .container-wrapper {
        background: $off-yellow;
    }
    .container-result {
        color: $black;
    }
    .divider {
        background: rgba(0,0,0, .2);
    }
}

//default 
.theme--default {
    .container {
        background: $off-gray;
    }
    .container-wrapper {
        background: #fff;
    }
    .container-result {
        color: $black;
    }
    .divider {
        background: rgba(0,0,0, .2);
    }
}

