.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: $off-gray;
    overflow: hidden;
}

.container-wrapper {
    width: 32rem;
    padding: 15px;
    background: #fff;
    display:flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba(0,0,0,.3);
}

.container-numbers {
    width:80%;
}

.container-operators {
    width: 20%;
}

.container-result {
    width: 90%;
    padding: $m-size;
    color: $black;
    font-size: $l-size;
    height: 110px;
    position: relative;
    text-align: right;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
    &::scrollbar {
        width: 0;
    }
    p {
        margin: 0;
        word-break: break-all;
    }
}

.container-equals {
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result {
    font-size: 14px;
    opacity: .5;
    right: 0;
    transition: all .5s ease;
    animation: scale .5s ease forwards;
}

.clear {
    width: 120px;
}

@keyframes scale {
    from {
        transform: scale(.5) translate(-10px, 20px);
        opacity: .5;
    }
    to {
        transform: scale(1) translate(0);
        opacity: 1;
    }
}