* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Mukta', sans-serif;
    font-size: 1.6rem;
    height: 100%;
}

button {
    font-family: 'Mukta', sans-serif;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

#app {
    height: inherit;
}