//Colors
$off-white: #f9f9f9;
$deep-blue: #151323;
$off-gray: #f1f1f1;
//Theme colors 
$dblue: #0e7bce;
$lblue: #4aacde;
$dred: #fd3e6c;
$lred: #f78586;
$dpurple: #492262;
$lpurple: #934793;
$black: #1a1a1a; 
$lblack: #202020;
$off-yellow: #f8ee5c; 
// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints
$x-mobile: 20rem;
$mobile: 30rem;
$tablet: 50rem;
$laptop: 64rem;
$desktop: 95rem;
